<div class="container">
	<%= render 'shared/title', title: "All Recipes" %>
	<hr/>
	<%= will_paginate %>
		<% @recipes.each do |recipe| %>
			<div class="row">
				<div class="col-md-2">
					<section class="chef_info center">
						<%= link_to gravatar_for(recipe.chef, size:100), chef_path(recipe.chef) %>
						<h5>Chef name:<%= recipe.name %></h5>
						
					</section>
				</div>

				<div class="col-md-6 well">
					<h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
					<p><%= recipe.summary %></p>
					<% if recipe.styles.any? %>
						Styles: <%= render recipe.styles %> <br/>
					<% end %>
					<% if recipe.ingredients.any? %>
						Ingredients: <%= render recipe.ingredients %>
					<% end %>
					<p>
						<span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago. </small></span>
						<span class="quiet"><small>Updated <%= time_ago_in_words(recipe.updated_at) %> ago.</small></span>

					</p>
					<div class="pull-right">
						<%= link_to like_recipe_path(recipe, like:true), method: :post do %>
							<span class="glyphicon glyphicon-thumbs-up">up</span> &nbsp <%= recipe.thumbs_up_total %>
						<% end %>
						<%= link_to like_recipe_path(recipe, like:false), method: :post do %>
							<i class="glyphicon glyphicon-thumbs-down">down</i> &nbsp <%= recipe.thumbs_down_total %>
						<% end %>
					</div>

				</div>

				<div class="col-md-4">
					<%= image_tag(recipe.picture, size: "250x150", class:"gravatar") if recipe.picture? %>
				</div>

			</div>
		<% end %>


</div>